# big files
data_util/face_tracking/3DMM/01_MorphableModel.mat
data_util/face_tracking/3DMM/3DMM_info.npy

!/deep_3drecon/BFM/.gitkeep
deep_3drecon/BFM/Exp_Pca.bin
deep_3drecon/BFM/01_MorphableModel.mat
deep_3drecon/BFM/BFM_model_front.mat
deep_3drecon/network/FaceReconModel.pb
deep_3drecon/checkpoints/*

.vscode
### Project ignore
/checkpoints/*
!/checkpoints/.gitkeep
/data/*
!/data/.gitkeep
!data/raw/videos/May.mp4
!data/raw/val_wavs/zozo.wav
infer_out
rsync
.idea
.DS_Store
bak
tmp
*.tar.gz
mos
nbs
/configs_usr/*
!/configs_usr/.gitkeep
/egs_usr/*
!/egs_usr/.gitkeep
/rnnoise
#/usr/*
#!/usr/.gitkeep
scripts_usr

# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data_util/deepspeech_features/deepspeech-0.9.2-models.pbmm
deep_3drecon/mesh_renderer/bazel-bin
deep_3drecon/mesh_renderer/bazel-mesh_renderer
deep_3drecon/mesh_renderer/bazel-out
deep_3drecon/mesh_renderer/bazel-testlogs
